/* Standard variables used across the application*/

$primary: #0055bf;
$secondary: #000e4f;
$tertiary: #bcceff;
$quaternary: #f1f5f9;
$fontSize: 1rem;

/* Mixins */
@mixin icon-size {
    width: 2rem;
    height: 2rem;
}