@import "../styles/main.scss";

.register {
    display: flex;
    border: 1px solid #e9ecef;
    border-radius: 1rem;
    background-color: white;
}

#form {
    width: 100%;
    margin: 2em auto;
}

#form > input,
.btn {
    border: 1px solid #e9ecef;
    border-radius: 0.4rem;
    padding: 0.9em 1em;
}

#form > input:focus {
    outline: none;
}

#form > .btn {
    background-color: $secondary;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

#form > .btn:disabled {
    background-color: $tertiary;
    color: white;
    font-size: 1em;
    cursor: default;
}

.flex {
    display: flex;
    gap: 1em;
}

.flex-col {
    flex-direction: column;
}

.register .col-1 {
    margin: auto;
    padding: 3rem 1rem;
    width: 50%;
}
.register .col-2 {
    width: 50%;
}

html[dir="rtl"] > * .register .col-2 img {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.register .col-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    align-self: flex-end;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: none;
}

.error-label {
    color: red;
    font-size: 0.85rem;
}

@media screen and (min-width: 860px) {
    .register .col-2 img {
        display: initial;
    }
}
