@import "../App.scss";

@mixin page-padding {
    padding: 4rem 3rem;
}

.page-header {
    background-color: white;
    @include page-padding;
    height: 30%
}
.page-content {
    @include page-padding;
    overflow-y: scroll;
    height: 70%;
}
