@import "../App.scss";

.side-bar {
    height: 100vh;
    background-color: $secondary;
    position: relative;
    transition-duration: 300ms;
    padding: 1rem;
    padding-top: 1.5rem;
}

.side-bar-header {
    display: flex;
    column-gap: 1rem;
    align-items: center;
}

.logo {
    @include icon-size;
    transition-duration: 500ms;
}
.menu-icon {
    width: 1.5rem;
}
.menu-item {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.4rem;
    margin-top: 1rem;
    text-decoration: none !important;
}
.menu-item:hover {
    background-color: #3f4878;
    color: white !important;
}
.menu-item-gap {
    margin-top: 3rem;
}

.arrow {
    position: absolute;
    cursor: pointer;
    right: -1rem;
    top: 50%;
    transform: translateY(-50%);
    width: 2rem;
    border-radius: 100%;
    padding: 0.5rem;
    border: 2px solid $tertiary;
}
html[dir="rtl"] > * .arrow {
    left: -1rem;
    right: unset;
    transform: rotate(180deg);
}
.open {
    width: 22rem;
}
.closed {
    width: 7rem;
}
.rotate-180 {
    transform: rotate(180deg);
}
html[dir="rtl"] > * .rotate-180 {
    left: -1rem;
    right: unset;
    transform: rotate(0deg);
}
.logo-click {
    transform: rotate(360deg);
    margin-left: auto;
    margin-right: auto;
}
