/*#region Standard variables*/
$primary: #0055bf;
$secondary: #000e4f;
$tertiary: #bcceff;
$quaternary: #f1f5f9;
$fontSize: 1rem;
/*#endregion*/

@mixin icon-size {
    width: 2rem;
    height: 2rem;
}

/*#region Generic App styles */
* {
    box-sizing: border-box;
    font-family: Arial;
}
html,
body {
    font-size: $fontSize;
    margin: 0;
    padding: 0;
    background-color: $quaternary;
    height: 100%;
}
ul {
    list-style-type: none;
    padding: 0;
}
span {
    line-height: 0;
}
a {
    text-decoration: none;
}
h1,
h2 {
    font-family: Arial black;
}
h1 {
    margin: 0;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-track {
    border-radius: 0px;
}
::-webkit-scrollbar-thumb {
    background: $tertiary;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #a1b2e3;
}
/*#endregion */

/*#region Background and text color using variables */
.bg-primary {
    background-color: $primary;
}
.bg-secondary {
    background-color: $secondary;
}
.bg-tertiary {
    background-color: $tertiary;
}
.bg-quaternary {
    background-color: $quaternary;
}
.bg-white {
    background-color: #fff;
}
.bg-black {
    background-color: #000;
}

.text-primary {
    color: $primary;
}
.text-secondary {
    color: $secondary;
}
.text-tertiary {
    color: $tertiary;
}
.text-quaternary {
    color: $quaternary;
}
.text-white {
    color: #fff;
}
.text-black {
    color: #000;
}
/*#endregion*/

/*#region Commonly used styles*/
.scale-0 {
    transform: scale(0);
}
.hidden {
    display: none;
}
.center-h {
    margin-left: auto;
    margin-right: auto;
}
.center-absolute {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.height-full {
    height: 100%;
}
/*#endregion */
