/*#region Standard variables*/
$primary: #0055bf;
$secondary: #000e4f;
$tertiary: #bcceff;
$quaternary: #fff;
$fontSize: 1rem;
/*#endregion*/

/*#region Generic App styles */
* {
    box-sizing: border-box;
}
body {
    font-size: $fontSize;
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
    padding: 0;
}
span {
    line-height: 0;
}
a {
    text-decoration: none;
}
/*#endregion */

/*#region Background and text color using variables */
.bg-primary {
    background-color: $primary;
}
.bg-secondary {
    background-color: $secondary;
}
.bg-tertiary {
    background-color: $tertiary;
}
.bg-quaternary {
    background-color: $quaternary;
}
.bg-white {
    background-color: #fff;
}
.bg-black {
    background-color: #000;
}

.text-primary {
    color: $primary;
}
.text-secondary {
    color: $secondary;
}
.text-tertiary {
    color: $tertiary;
}
.text-quaternary {
    color: $quaternary;
}
.text-white {
    color: #fff;
}
.text-black {
    color: #000;
}
/*#endregion*/

/*#region Commonly used styles*/
.scale-0 {
    transform: scale(0);
}
.hidden {
    display: none;
}
.center-h {
    margin-left: auto;
    margin-right: auto;
}
.center-absolute {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
/*#endregion */
