/* Standard variables*/
$primary: #0055bf;
$secondary: #000e4f;
$tertiary: #000;
$quaternary: #fff;
$fontSize: 1rem;

/* App styles */
* {
    box-sizing: border-box;
}
body {
    font-size: $fontSize;
    margin: 0;
    padding: 0;
}
