@import "../styles/variables.scss";

@mixin page-padding {
    padding: 3rem 3rem;
}

.page-header {
    background-color: white;
    @include page-padding;
    display: flex;
    justify-content: space-between;
}
.page-content {
    @include page-padding;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
}
.icon {
    @include icon-size;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
}
